/* font */
@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Next-LT-Pro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirB';
    src: url('/fonts/Avenir-Next-LT-Pro-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Global Styles */
body {
  font-family: 'Avenir', sans-serif;
  background-color: rgba(245, 245, 247);
  margin: 0;
  padding: 0;  
}

.main {
  display: flex;
  flex-direction: column;                               /* Organise les enfants verticalement home-consoles*/
  justify-content: center;                              /* Centre les enfants verticalement */
  min-height: 96vh;
}



.filter-section {
  margin: 0em 8% 0.75em 8%;
  justify-content: space-between;
  display: flex;
  width: 84%;
}

.filtres {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.price_range, .product_state, .sort_order {
  margin-left : 0%;
  margin-right: 0.75em;
  width: 15.9%;
  text-align: center;
  border-radius: 2em;
  border: 0.2em solid rgba(0, 0, 0);                       /* Ajout d'une bordure transparente pour maintenir la taille du bouton */
  padding: 0.5em 0em;
  font-size: 1em;
}


/*bouton recherche */
.button {
  margin-left : auto;
  margin-right: 0%;
  width: 15.9%;
  text-align: center;
  padding: 0.5em 0em;
  font-size: 1em;

  cursor: pointer;
  border-radius: 2em;
  background-color: rgba(88, 174, 240);
  color: rgba(255, 255, 255);
  text-decoration: none;
  border: 0.2em solid rgba(88, 174, 240);
}

.button:hover {
  background-color: transparent; /* Le fond disparaît */
  padding: 0.2em auto;
  border: 0.2em solid rgba(5, 5, 5, 0.9); /* La bordure apparaît */
  color: rgba(5, 5, 5, 0.9); /* La couleur du texte change */
}



/* Titre pages */
.container-consoles, .container-consoles1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre-consoles {
  /* background-color: rgba(0, 0, 0); */
  background-image: url("/images/home-le-projet2.jpg");
  background-size: 100%;
  background-position: left;
  overflow: hidden;
  margin: 3.5em 8% 0.75em 8%;
  width: 84%;
  text-align: center;
  justify-content: center;
}

.titre-consoles1 {
  background-image: url("/images/home-le-projet2.jpg");
  background-size: 100%;
  background-position: left;
  background-color: rgba(0, 0, 0);
  margin: 0.75em 8%;
  width: 84%;
  text-align: center;
  justify-content: center;
}


.titre-consoles h1 {
  font-size: 2.5em;
  font-weight: lighter;
  font-family: 'AvenirB', sans-serif;
  color: rgba(255, 255, 255);
  margin: 0em;
  
}

.titre-consoles1 h1 {
  font-size: 2.5em;
  font-weight: lighter;
  font-family: 'AvenirB', sans-serif;
  color: rgba(0, 0, 0, 0);
  margin: 0em;
}

/* Styles pour partie droite affichage consoles --------------------------------------------- */
.produits-consoles {
  position: relative;
  flex: 0.5;                                          /* Prends 50% de la largeur */
  height: 40em;                                       /* Spécification de la hauteur */
  display: grid;                                      /* format d'affichage */
  grid-template-columns: repeat(6, 1fr);              /* 3 colonnes de taille égale */
  grid-template-rows: repeat(1, 1fr);                 /* auto lignes de taille égale*/
  row-gap: 0.75em;                                       /* écart entre les lignes */
  column-gap: 0.75em;                                    /* écart entre les colonnes */
  place-items: top;                                   /* Centre à la fois horizontalement et verticalement */
  overflow: hidden;
  margin: 0 8%;     
}

.controls-container {
  position: relative;                        /* Position fixe par rapport à la fenêtre du navigateur */
  left: 50%;                              /* Centré horizontalement */
  transform: translateX(-50%);            /* Astuce pour centrer parfaitement */
  display: flex;                          /* Utilisation de flexbox pour la mise en page des éléments enfants */
  justify-content: center;                /* Centrer les éléments enfants horizontalement */
  align-items: center;                    /* Centrer les éléments enfants verticalement */
  height: 2em;
}

.consoles-prev-btn,
.consoles-next-btn {
  position: absolute;
  background: rgba(0, 0, 0);
  font-size: 1.2em;
  color: rgba(255, 255, 255);
  border-radius: 1em;
  cursor: pointer;
  padding: 0.1em 0.4em;
  border: 0.2em solid transparent;                          /* Ajout d'une bordure transparente pour maintenir la taille du bouton */
  transition: background-color 0.3s, border 0.3s;           /* Transition pour background et bordure */
  top: 20%;
}

.consoles-prev-btn:hover,
.consoles-next-btn:hover {
  background-color: transparent;                            /* Le fond disparaît */
  border: 0.2em solid rgba(0, 0, 0);        /* La bordure apparaît */
  color: rgba(0, 0, 0);                                /* La couleur du texte change */
}

.consoles-prev-btn {
  left: 20%;
}

.consoles-next-btn {
  right: 20%;
}


/* barre de progression carrousel consoles */

.progress-container-consoles {
  position: absolute;
  width: auto;
  background-color: rgba(0, 0, 0);
  border-radius: 1em;
  top: 48.6%;
  left: 25%;
  right: 25%;
  height: 0.75em;
}

.progress-bar-consoles {
  background-color: rgba(88, 174, 240);
  background-position: bottom;
  color: rgba(0, 0, 0, 0);
  border-radius: 1em;
  text-align: center;
  line-height: 0;
  margin: 0.18em 0.4em;
  height: 0.4em;
}

.price-favorite-consoles {
  display: flex;
  position: relative;
  top: -2.7em;
  height: 2.7em;
  border-radius : 0em 0em 1em 1em;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0,0,0);
}

/* Mise en page affichage produits carrousel */
.product-card-consoles { /*mise en page espace produits*/
  padding: 0em;
  margin: 0em;
  width: auto;
  height: 18.7em;
}

.product-card-consoles.visible {
  opacity: 1;
  display: block;
}

.im {
  object-fit: cover;          /* Couvre tout l'espace disponible sans déformer l'image */
  width: 100%;
  height: 100%;
  object-position: center;    /* Le point d'intérêt de l'image est centré */
  size : cover;
  overflow: hidden;           /* Cache les parties de l'image qui dépassent du conteneur */
  border-radius: 1em;
  background-color: rgba(255, 255, 255);
}


/* Alignement prix et icone favoris même ligne */
.product-card-consoles p {
  font-size: 1em;
  font-weight: lighter;
  font-family: 'AvenirB', sans-serif;
  color: rgba(245, 245, 247, 0.95);
  margin: 0.8em 0em 0.8em 1em;
}

/* Alignement prix et icone favoris même ligne */

.modifier {
  font-size: 1em;
  cursor: pointer;
  background-color: rgba(88, 174, 240);
  color: rgba(245, 245, 247, 0.95);
  text-decoration: none;
  border: 0.1em solid rgba(88, 174, 240);
  text-align: center;
  border-radius:  1em;
  margin: 0.5em;
  padding: 0.1em 0.5em;
  font-weight: lighter;
  font-family: 'AvenirB', sans-serif;
}

.modifier:hover {
  background-color: rgba(5, 5, 5);
  padding: 0.2em auto;
  border: 0.1em solid rgba(245, 245, 247, 0.95); /* La bordure apparaît */
  color: rgba(245, 245, 247, 0.95); /* La couleur du texte change */
}

.supprimer {
  display: flex;
  cursor: pointer;
  background-size: cover;
  height: 1.8em;
  width: 1.8em;
  margin-right: 0.5em;
  margin-top : 0.45em;
}


/* Responsive pour doubme écran */
@media screen and (min-width: 99em) {
  .main {
    /* Styles pour centrer .main */
    margin-left: auto;
    margin-right: auto;
    
    width: 98em; /* exemple de largeur */
  }
}




/*Responsive pour tablettes */
@media (max-width: 1100px) {

  body {
    background-color: rgba(220, 220, 220);
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  /* Titre pages */
  .titre-consoles {
    margin: 3.2em 0em 0.4em 0em;
    width: 100%;
  }

  .titre-consoles1 {
    margin: 0.75em 0em 0.4em 0em;
    width: 100%;
  }

  /* Styles pour partie droite affichage consoles --------------------------------------------- */
  .produits-consoles {
    grid-template-columns: repeat(3, 1fr);              /* 3 colonnes de taille égale */
    grid-template-rows: repeat(1, 1fr);                 /* 1 lignes de taille égale*/
    row-gap: 0.4em;                                       /* écart entre les lignes */
    column-gap: 0.4em;                                    /* écart entre les colonnes */      
    margin: 0em 0.4em;
  }

  .product-card-consoles {
    height: 23em;
  }

  .product-card-consoles p {
    margin: auto 0em auto 1em;
  }

  .progress-bar-consoles {
    margin: 0.18em 0.3em;
  }

}


@media (max-width: 750px) {

  body {
    background-color: rgba(220, 220, 220);
  }

  .titre-consoles h1, .titre-consoles1 h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  .produits-consoles {
    grid-template-columns: repeat(2, 1fr);              /* 2 colonnes de taille égale */
    grid-template-rows: repeat(1, 1fr);                 /* 1 lignes de taille égale*/
    row-gap: 0.4em;                                       /* écart entre les lignes */
    column-gap: 0.4em;                                    /* écart entre les colonnes */      
    margin: 0em 0.4em;
  }

  /* nouveau */
  .product-card-consoles {
    height: 16em;
  }

  .product-card-consoles p {
    margin: auto 0em auto 1em;
  }

  .progress-container-consoles {
    position: relative;
    width: 40%;
    left: 0%;
    right: 0%;
    top: 20%;
  }

  .consoles-prev-btn, 
  .consoles-next-btn {
    position: relative;
  }

  .consoles-prev-btn {
    left: -3%;
  }

  .consoles-next-btn {
    right: -3%;
  }

  /* Titre pages */
  .titre-consoles {
    margin: 3.2em 0em 0.4em 0em;
    width: 100%;
  }

  .titre-consoles1 {
    margin: 0.75em 0em 0.4em 0em;
    width: 100%;
  }

    .progress-bar-consoles {
    margin: 0.18em 0.12em;
  }
}